<!DOCTYPE html>
<html 	lang="ko"
         xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headFragment">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--  meta http-equiv="Cache-Control" content="no-cache; no-store; no-save" -->

    <link rel="stylesheet" type="text/css" th:href="@{/css/import.css}" />
    <script type="text/javascript">var _contextPath = "/";</script>
    <script type="text/javascript" th:src="@{/js/dui_prototype.js}"></script>
    <script type="text/javascript" th:src="@{/js/dui_effect.js}"></script>
    <script type="text/javascript" th:src="@{/js/dui_dragndrop.js}"></script>
    <script type="text/javascript" th:src="@{/js/dui_hhmenu.js}"></script>
    <script type="text/javascript" th:src="@{/js/dui_tree.js}"></script>
    <script type="text/javascript" th:src="@{/js/dui_slidemenu.js}"></script>
    <script type="text/javascript" th:src="@{/js/dui_tab.js}"></script>
    <script type="text/javascript" th:src="@{/js/dui_calendar.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery/jquery-1.8.3.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/office.common.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/office.ajax.js}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>

</html>