<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:Tag="http://Tag"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      layout:fragment="content">

<meta charset="UTF-8">
<title>Pay 조회</title>
<script type="text/javaScript" language="javascript" th:inline="javascript">
    /*<![CDATA[*/
    function fnRetrieveWallet() {
        document.listForm.action = /*[[@{/paymentView.do?menu1=0&menu2=0&menu3=1}]]*/ 'default';
        document.listForm.submit();
    }
    function fnRetrieveEmployee(num) {
        document.listForm.from.value = "empThList";
        document.listForm.mode.value = "update";
        document.listForm.searchNum.value = document.listForm.num.value;
        document.listForm.num.value = num;
        document.listForm.action = /*[[@{/employee/retrieveEmployeeTh.do?menu1=0&menu2=0&menu3=0}]]*/ 'default';
        document.listForm.submit();
    }
    function fnRetrieveEmployeeForm() {
        document.listForm.from.value = "empThList";
        document.listForm.mode.value = "insert";
        document.listForm.action = /*[[@{/employee/retrieveEmployeeThForm.do?menu1=0&menu2=0&menu3=0}]]*/ 'default';
        document.listForm.submit();
    }
    function checkMessage() {
        var message = /*[[${param.msg}]]*/ 'default';
        if(message == "success") {
            alert(/*[[#{sample.common.message.processSuccess}]]*/ 'default');
        }
    }
    function fnSelectAllOrNot() {
        var doCheck = document.listForm.checkAll.checked;

        if(document.listForm.selectedCode.length > 1) {
            for(var inx=0; inx < document.listForm.selectedCode.length; inx++) {
                document.listForm.selectedCode[inx].checked = doCheck;
            }
        } else {
            document.listForm.selectedCode.checked = doCheck;
        }
    }

    function fnPayment() {
        document.paymentForm.action = /*[[@{/payment.do?menu1=0&menu2=0&menu3=1}]]*/ 'default';
        document.paymentForm.submit();
    }

    function fnLoadPoint() {
        document.listForm.action = /*[[@{/loadPoint.do?menu1=0&menu2=0&menu3=1}]]*/ '';
        document.listForm.submit();
    }

    function fnLoadSample1() {
        document.getElementById("price").value = 1000;
        fnRefreshTotal();
    }

    function fnLoadSample2() {
        document.getElementById("price").value = 200000;
        fnRefreshTotal();
    }

    function fnRefreshTotal() {
        document.getElementById("amount").value = document.getElementById("price").value - document.getElementById("pointDiff").value;
    }
    /*]]>*/
</script>
<div id="LblockBody">
    <div id="LblockPageHeader">
        <div id="LblockPageTitle">
            <h1>Pay결제</h1>
        </div>

        <div id="LblockPageLocation">
            <ul>
                <li class="Lfirst"><span><a href="#">HOME</a></span></li>
                <li><span><a href="#">My Pay</a></span></li>
                <li class="Llast"><span>Pay결제</span></li>
            </ul>
        </div>
    </div>

    <div id="LblockBodyMain">
        <form modelAttribute="user" th:name="listForm" th:method="post">
            <input type="hidden" name="from" />
            <input type="hidden" name="mode" />
            <input type="hidden" name="searchNum" />

            <div id="LblockSearch">
                <div>
                    <div>
                        <div>
                            <table>
                                <colgroup>
                                    <col style="width: 30%;" />
                                    <col style="width: 70%;" />
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th><label for="num" th:text="#{pay.number}"/></th>
                                    <td>
                                        <input class="Ltext" name="walletId" id="walletId" th:value="${wallet.id}" >
                                    </td>
                                </tr>
                                <tr>
                                    <th><label for="user" th:text="#{pay.user.id}"/></th>
                                    <td>
                                        <input class="Ltext" name="id" id="id" th:value="${user.id}">
                                    </td>
                                </tr>
                                <tr>
                                    <th th:text="#{pay.balance}"/>
                                    <td>
                                        <input class="Ltext" name="balance" id="balance" th:value="${wallet.balance}" >
                                    </td>
                                </tr>
                                <tr>
                                    <th th:text="#{pay.record.pointBalance}"/>
                                    <td>
                                        <input class="Ltext" name="pointBalance" id="pointBalance" style="width: 74%;" th:value="${membership.point}">
                                        <a class="Lbtn" href="#" onclick="fnLoadPoint();" style="margin: 11px 0 0 0;"><span th:text='#{pay.loadPoint}'/></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form th:name="paymentForm" th:method="post">
            <input type="hidden" name="userId" id="userId" th:value="${user.id}">
            <div id="LblockDetail02" class="LblockDetail">
                <div style="text-align: right;">
                    <a class="Lbtn" href="#" onclick="fnLoadSample1();" style="margin-right: 10px;"><span th:text='#{pay.sample1}'/></a>
                    <a class="Lbtn" href="#" onclick="fnLoadSample2();"><span th:text='#{pay.sample2}'/></a>
                </div>
                <table summary="Pay 결제">
                    <colgroup>
                        <col style="width: 30%;" />
                        <col style="width: 70%;" />
                    </colgroup>
                    <caption>Pay 결제</caption>
                    <tbody>
                    <tr>
                        <th th:text="#{pay.record.price}"/>
                        <td>
                            <input class="Ltext" name="price" id="price" value="0" onchange="fnRefreshTotal();">
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{pay.record.pointToUse}"/>
                        <td>
                            <input class="Ltext" name="pointDiff" id="pointDiff" onchange="fnRefreshTotal();" th:value="${record.pointDiff}">
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{pay.record.total}"/>
                        <td>
                            <input class="Ltext" name="amount" id="amount" th:value="${record.amount}">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="LblockButton">
                <a class="Lbtn" href="#" onclick="fnPayment();"><span th:text='#{pay.record}'/></a>
            </div>
        </form>
        <!--<p th:text="${resultList}"></p>-->
    </div>
</div>
</html>